<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ludvig.medandraord">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreGameSettingsActivity"
            android:label="@string/title_activity_pre_game_settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".InGameHomeScreen"
            android:label="@string/title_activity_in_game_home_screen"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WordListMangementActivity"
            android:label="WordListManagementActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".EditWordListActivity"
            android:label="Edit Wordlist"
            android:parentActivityName=".WordListMangementActivity"
            />

        <service android:name=".ForegroundService" android:enabled="true" />

    </application>

</manifest>